.contenido{
    position: relative;
    z-index: -1;
    margin-left: 200px;
    background-color: #4d4d4d;
    height:  calc(100vh - var(--toolbar-height));
    padding: 40px;
    margin-bottom: var(--footer-height);
}
